.bg1 img{
    background-size: cover;
    margin-top: 2%;
    object-fit:fill;
}
.bg2 {
    position:absolute;
    top: 28%;
    left: -9%;
}
.bg2 h1{
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 70px;
}
.search{
    display: flex;
    align-items: center;
    margin: 3%;
}
.search input{
  margin-left: 1.1%;
  width: 30%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
.titrechercher{
    color: rgba(136, 50, 50, 0.87);
    text-align: center;
    margin: 5% 0;
    letter-spacing: 1px;
    font-weight: bolder;
    
}